
        body {
            padding: 20px;
        }
        .container {
            max-width: 800px;
            margin: auto;
        }
        .hidden {
            display: none;
        }
        .serie-linea {
            display: flex;
            align-items: center;
            gap: 10px; /* Espaciado entre elementos */
            margin-bottom: 5px; /* Espaciado mínimo entre líneas */
        }
        
        .serie-linea input {
            width: 60px;
            padding: 3px;
            text-align: center;
            border: 1px solid #ccc;
        }
        .series-counter {
            font-weight: bold;
            color: black;
        }
        .series-completed {
            color: green;
        }
        .editable-input {
            border: 1px solid #ccc;
            padding: 5px;
            width: 50px;
            text-align: center;
        }
        .timer-icon {
            font-size: 20px;
            margin-left: 10px;
        }
